

@model Matt.Models.AddMealProfile
@using Matt.Models


@{
    ViewBag.Title = "Create Meal!";
    ViewBag.ShowBackBar = null;








}

<h2 id="welcome-create">Create Meal!</h2>

@using (Html.BeginForm())
{
    // we added our MealType enum items to our dropdownfor menu select.  we also added an empty string as the second value, to force a selection at start. I believe we cast the SelectList to an int so Meal_Id can hold it's value to be sent to the database.
    <div class="row mx-3 p-3" id="top-form">
        <div class="form-group form-control-lg col-sm-12">
            @Html.LabelFor(m => m.Meal_Id, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.Meal_Id, (SelectList)ViewBag.MealsSelectListItems, "", new { @class = "form-control" })

        </div>
    </div>


    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.MealCost, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.MealCost, "{0:c}", new { @class = "form-control" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.PrepTime, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.PrepTime, "{0:c}", new { @class = "form-control" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.MealAuthor, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.MealAuthor, "{0:c}", new { @class = "form-control" })
        </div>

    </div>


    <div class="row">

        <div class="form-group p-3 mx-auto">
            @Html.LabelFor(m => m.Notes, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.Notes, 10, 58, new { @class = "form-control" })
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="row mx-3 p-3">
                <div class="form-check form-check-inline p-3">
                    @Html.CheckBoxFor(m => m.TomatoCheckbox) @Html.DisplayNameFor(m => m.TomatoCheckbox)
                </div>
                <div class="form-group p-3">
                    @Html.LabelFor(m => m.TomatoQuantity, "Quantity", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.TomatoQuantity, "{0:0.00}", new { @class = "form-control" })
                </div>
                <div class="form-check p-3 mx-3">
                    @Html.LabelFor(m => m.MeasurementTomato, "Units", new { @class = "form-check-label" })
                    <div>
                        @Html.RadioButtonFor(m => m.MeasurementTomato,
                        AddMealProfile.MeasurementUnit.Ounces) @AddMealProfile.MeasurementUnit.Ounces
                        @Html.RadioButtonFor(m => m.MeasurementTomato,
                        AddMealProfile.MeasurementUnit.Grams) @AddMealProfile.MeasurementUnit.Grams
                    </div>
                </div>

            </div> <!-- end row mx-3 p-3-->

        </div> <!-- end col-->


        <div class="col-md-6">

            <div class="row mx-3 p-3">

                <div class="form-check form-check-inline p-3">
                    @Html.CheckBoxFor(m => m.SpinachCheckbox) @Html.DisplayNameFor(m => m.SpinachCheckbox)
                </div>


                <div class="form-group p-3">
                    @Html.LabelFor(m => m.SpinachQuantity, "Quantity", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.SpinachQuantity, "{0:0.00}", new { @class = "form-control" })
                </div>

                <div class="form-check p-3 mx-3">
                    @Html.LabelFor(m => m.MeasurementSpinach, "Units", new { @class = "form-check-label" })
                    <div>
                        @Html.RadioButtonFor(m => m.MeasurementSpinach,
                        AddMealProfile.MeasurementUnit.Ounces) @AddMealProfile.MeasurementUnit.Ounces
                        @Html.RadioButtonFor(m => m.MeasurementSpinach,
                        AddMealProfile.MeasurementUnit.Grams) @AddMealProfile.MeasurementUnit.Grams
                    </div>
                </div>


                
            </div> <!-- end col-->

        </div> <!-- end row -->

    </div> <!-- end row div-->


    <div class="col-md-12 mx-auto">
        <div class="pad-top">
            <button type="submit" class="btn btn-success btn-lg  mb-3 p-3">
                <span class="glyphicon glyphicon-save"></span> Save
            </button>
            <a href="@Url.Action("Index")" class="btn btn-warning btn-lg mb-3 p-3">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </a>
        </div>
    </div>
}





